apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: udemyclone/auth
          ports:
            - containerPort: 3002
          env:
            - name: DB_HOST
              value: "auth-db-srv"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "udemy-auth_service_dev"
            - name: NODE_ENV
              value: "development"
            - name: JWT_EXPIRE
              value: "36000s"
            - name: REDIS_HOST
              value: "user-redis-srv"
            - name: REDIS_PORT
              value: "6379"
            - name: NATS_URL
              value: "nats://nats-srv:4222"
          envFrom:
            - secretRef:
                name: user-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: auth-srv
spec:
  selector:
    app: auth
  ports:
    - name: http
      protocol: TCP
      port: 3002
      targetPort: 3002
